.container {
    font-family:'Verdana', sans-serif !important;
    
    cursor:default;

    border-bottom:2px solid var(--border);

    background:var(--coolBlue);
    background:linear-gradient(45deg, var(--coolBlue) 15%, rgb(209, 136, 227));
    text-shadow:0px 1px 1px rgba(0,0,0,0.2);

    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;

    width:100%;
}

.content {
    width:100%;
    max-width:var(--appSize);
    
    padding-top:3rem;
    padding-left:3rem;
    padding-bottom:7rem;
    box-sizing:border-box;

    display:flex;
    flex-direction:column;
}

h1.head {
    display:inline-block;
    color:#fff;
    padding:0;
    margin:0;
    font-size:2rem;
    font-weight:700;
}

h3.sub {
    display:inline-block;
    color:#fff;
    font-weight:300;
    font-size:1rem;
    padding:0;
    margin:0;
}

.gradient {
    background: -webkit-linear-gradient(270deg, rgb(251, 199, 255) 60%, rgb(199, 210, 255));
    background-clip:text;
    -webkit-background-clip: text;
    text-shadow:none;
    -webkit-text-fill-color: transparent;
    filter:drop-shadow(0px 1px 1px rgba(0,0,0,0.2));
}

@media only screen and (max-width: 768px) {
    .content {
        padding-left:1rem;
    }
    h1.head {
        font-size:1.5rem;
    }
    h3.sub {
        font-size:0.9rem;
    }
}