.container {
    width:100%;
    max-width:var(--appSize);

    display:grid;
    grid-template-columns:1fr auto 1fr;

    margin-top:12px;
    padding-top:24px;
    box-sizing:border-box;
    
    border-top:2px solid var(--border);
}

h1.logo, h3.creds {
    opacity:0;

    margin:0;
    display:inline-block;
    padding:12px;

    font-family:'Verona', sans-serif;
    font-size:0.75rem;

    display:flex;
    align-items:center;

}

h1.logo {
    display:inline-block;
    color:var(--font_Faded);
}

h3.creds {
    text-align:right;
    flex-direction:row-reverse;
    font-weight:400;
    color:var(--font_Faded);
    gap:6px;
}

 ul.nav {
    font-weight:300;
    font-family:'Verona', sans-serif;
    font-size:0.75rem;
    color:var(--font_Faded);
    
    margin:0;
    padding:0;
    list-style-type:none;
    
    display:flex;
    justify-content:space-between;
}

li.nav {
    float:left;
    padding-right:12px;
    padding-left:12px;
    height:100%;
    
    border-bottom:2px solid transparent;
    display:flex;
    align-items:center;
    cursor:pointer;
}

li.nav:hover {
    border-bottom:2px solid var(--border);
}