.container {
    width:100%;
    max-width:var(--appSize);

    display:grid;
    grid-template-columns:1fr 3fr 1fr;


    margin-top:12px;
    padding:12px;
    box-sizing:border-box;
    
    border-top:2px solid var(--border);
}

h1.logo, h3.creds {
    height:100%;
    margin:0;
    padding:0;
    font-size:0.8rem !important;
    font-family:'Verona', sans-serif;
    display:flex;
    align-items:center;
}

h3.creds {
    text-align:right;
    flex-direction:row-reverse;
}

ul.nav {
    display:flex;
    align-items:center;
    height:100%;
    list-style-type:none;
    padding:0;
}

li.nav {
    float:left;
    padding:0;
    margin:0;
    margin-left:14px;
    font-size:0.8rem;
    font-family:'Verona', sans-serif;
}

