:root {
    --border: rgb(225, 225, 225);
    --appSize: 900px;
    --fontSize: 100%;
}

body {
    padding:0;
    margin:0;
    font-family:'Noto Serif', serif;
}

html {
    font-size:var(--fontSize);
}

a {
    text-decoration:none;
    color:inherit;
}