.container {
    width:100%;
    
    margin:0 auto;
    position:relative;
    
    display:flex;
    flex-direction:column;
    align-items:center;
}

.content {
    max-width:var(--appSize);
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}