.container {
    width:100%;
    
    margin:0 auto;
    position:relative;
    
    display:flex;
    flex-direction:column;
    align-items:center;
    
    background-color:rgb(206, 206, 255);
}

.content {
    max-width:var(--appSize);
    background-color:red;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}