.appContainer {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:8px;
    box-sizing:border-box;
    padding-top:0px;
}

.contentContainer {
    max-width:var(--appSize);
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}