.container {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    border-bottom:2px solid var(--border);
}

.content {
    width:100%;
    max-width:var(--appSize);
    display:flex;
    align-items:stretch;
    justify-content:space-between;
    flex-direction:row;
}

ul.nav {
    padding:0;
    list-style-type:none;
    overflow:hidden;
}

li.nav {
    float:left;
    margin-right:24px;
    border-bottom:2px solid transparent;
    font-family:'Verona', sans-serif;
}

li.nav:hover {
    border-bottom:2px solid var(--coolBlue);
}

ul.nav a {
    color:inherit;
}

.settings {
    border-left:1px solid var(--border);
    border-right:1px solid var(--border);
    display:flex;
    align-items:center;
    justify-content:center;
    padding-left:12px;
    padding-right:12px;
    cursor:pointer;
}

.settings:hover {
    color:var(--coolBlue);
}