.appContainer {
    width:100%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:9px;
    box-sizing:border-box;
}

.contentContainer {
    width:var(--appSize);
}